.home-container {
  display: flex;
  padding: 0.625rem 1.875rem;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  align-self: stretch;
  height: 100%;
  width: 100%; /* 너비를 전체 화면으로 설정 */
}

.home-image {
  flex: 6.5;
}
.home-content {
  display: flex;
  flex-direction: column;
  flex: 3.5;
  gap: 3.75rem;
}

.home-image img {
  width: 90%; /* 이미지를 컨테이너 너비에 맞게 */
  height: 100%; /* 이미지 비율을 유지 */
}

.content-header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.content-header h1 {
  font-size: 2.5rem;
}

.content-header p {
  font-size: 1rem;
}
